.news-items{
  padding: 0 15px;

  .item{
    padding:1px;
  }
}

.page-news{
  .category{
    background-color: #1ca448 !important;
    background-image: linear-gradient(45deg, rgba(66, 232, 119, 0.64) 0%, rgba(0, 255, 255, 0.64) 100%);
  }
}
